name: Build Test

on:
  push:
    branches: ["main", "3.0.x"]
  pull_request:
    branches: ["main", "3.0.x"]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: git submodule update --init --recursive --remote

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Setup Gradle 9.2.1
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '9.2.1'

      - name: Show Gradle & Java versions
        run: |
          gradle --version
          java -version

      - name: Build
        run: gradle build