name: Build for Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        platform: [curseforge, modrinth]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: git submodule update --init --recursive --remote

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Setup Gradle 9.2.1
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '9.2.1'

      - name: Show Gradle & Java versions
        run: |
          gradle --version
          java -version

      - name: Build JAR
        run: gradle build

      - name: Publish to CurseForge
        if: ${{ matrix.platform == 'curseforge' }}
        run: gradle publishCurseforge --parallel
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}

      - name: Publish to Modrinth
        if: ${{ matrix.platform == 'modrinth' }}
        run: gradle publishModrinth --parallel
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}